<li>
    <img src="./assets/img/burger.jpg" alt="picture of burger">

    {{burger_name}}

    <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">DEVOUR THAT YUMMY BURGER</button>
    
</li>